version: '3'

services:
  elasticsearch:
    image: elasticsearch:2.3.5
    ports:
     - "9300:9300"
     - "9200:9200"
  webserver:
    image: puckel/docker-airflow:1.10.4
    ports:
     - "8080:8080"
    depends_on:
     - elasticsearch
     - postgres
    environment:
      - AIRFLOW_DEPS="datadog,dask"
      - PYTHON_DEPS="flask_oauthlib>=0.9"
      - LOAD_EX=y
      - EXECUTOR=Local
    volumes:
     - ./airflow/dags:/usr/local/airflow/dags:rw
     - ./airflow/hooks:/usr/local/airflow/plugins:rw
     - ./airflow/data:/usr/local/airflow/data:rw
    command: webserver 
    healthcheck:
      test: ["CMD-SHELL", "[ -f /usr/local/airflow/airflow-webserver.pid ]"]
      interval: 30s
      timeout: 30s
      retries: 3
  postgres:
    image: postgres:9.6
    environment:
        - POSTGRES_USER=airflow
        - POSTGRES_PASSWORD=airflow
        - POSTGRES_DB=airflow
        - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
        - ./pgdata:/var/lib/postgresql/data/pgdata
  kibana:
    image: kibana:4.5.4
    ports:
      - 5601:5601
    environment:
      - ELASTICSEARCH_URL=http://elasticsearch:9200
    depends_on:
      - elasticsearch
  molanco-inserting_data:
    build: ./build
    command: sh /start.sh # this should be a dag and be executed only once
    depends_on:
      - elasticsearch
      - kibana
volumes:
    datacollectordata:
